.header {
    width: 100%;
    padding: 12px 51px 11px 30px;
    
    
    &__wrapper {
        display: flex;
        justify-content: space-between;

        &-btn {
            border: none;
            background-color: #fff;
        }
        
        &-right {
            display: flex;
            
            &--input {
                width: 212px;
                height: 37px;
                left: 1133px;
                top: 12px;
                background: #FFFFFF;
                border: 1px solid #E5E5E5;
                border-radius: 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #C4C4C4;
                padding: 9px;
                
                &::placeholder {
                    color: #C4C4C4;
                }
                
            }
        }
        
        &-input {
            margin-right: 20px;
        }
        
        &-icon {
            transform: translate(-25px);
        }
        
    }
}